<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" verbose="1" parallel="methods" thread-count="2">
    <!--<listeners>
        <listener class-name="SeleniumTests.ListenersExample"> </listener>
    </listeners>-->
    <test name="SeleniumProjects">
    
    	<parameter name="os" value="Windows"></parameter>
    	<parameter name="browser" value="chrome"></parameter>

        <!--<parameter name="Name" value="Kalai"> </parameter> -->
        <!--<groups>
            <run>
                <include name="Apple"> </include>
                <include name="OnePlus"> </include>
            </run>
        </groups>-->
        <classes>
           <!-- <class name="SeleniumTests.SeleniumTest">
            <methods>
                <include name="sampleTest"/>
            </methods>
        </class>
            <class name="SeleniumTests.SuiteExample">
            <methods><include name="openGoogle"/>
                <include name="openYahoo"/>
            </methods>
            </class>-->
           <!-- <class name="SeleniumTests.GroupingExample"> </class>
             <class name="SeleniumTests.ParameterizationExample"> </class>
           <class name="SeleniumTests.ParallelTesting"> </class>
           <class name="SeleniumTests.AnnotationsHierarchy"> </class>
           <class name="SeleniumTests.SampleTestCase"> </class>

             <class name="LoginDemoFramework.CorrectUserNameCorrectPassword"> </class>
            <class name="LoginDemoFramework.CorrectUserNameWrongPassword"> </class>
            <class name="LoginDemoFramework.WrongUserNameCorrectPassword"> </class>
            <class name="LoginDemoFramework.WrongUserNameWrongPassword"> </class>

            <class name="LoginDemoFramework.allInOneusingDataProviderAnnotations"> </class>
            <class name="RestAssuredLearning.getAllEmployees"> </class>
            <class name="RestAssuredLearning.SerializationExample"> </class>-->
            <class name="DataProviderandParameters.DataProviderDemo"></class>
            
           
        </classes>
    </test>
</suite>